# ========================
# DATABASE
# ========================
# Local (Docker)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/wa_finance"
# Supabase (production)
# DATABASE_URL="postgresql://postgres:[password]@db.[project].supabase.co:5432/postgres"

# ========================
# REDIS (BullMQ)
# ========================
REDIS_HOST=localhost
REDIS_PORT=6379

# ========================
# JWT
# ========================
JWT_SECRET=ganti-dengan-random-string-panjang-minimal-32-karakter
JWT_EXPIRES_IN=7d

# ========================
# APP
# ========================
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:4200

# ========================
# WHATSAPP
# ========================
WA_SESSION_PATH=./wa-sessions
WA_OWNER_PHONE=628xxxxxxxxxx
